@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  --background-color-1:rgb(222, 222, 222);
  --background-color-2: #f7f5f5;

  --primary-text-color:#242424;
  --secondary-text-color:#757575;
  --header-text-color:var(--primary-text-color);
  
  --primary-color:#6d28d9;


}
[data-theme="dark"]{
  --background-color-1:#2d2c2c;
  --background-color-2:  #222222;

  --primary-text-color:rgb(233, 233, 233);
  --secondary-text-color:#c5c5c5;
  --header-text-color:var(--primary-color);


  --primary-color:#8C4BFF;


}
body {
 
  background-color:var(--background-color-1) ;
  font-family: sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

